/* Mediaquery for tablet */

@media screen and (min-width:768px) {

/* MAIN */

    /* Try demo section */

    #try-demo .card:first-child {
        width: 50%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }

    #try-demo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
        margin: 3rem 0;
    }

    #try-demo .card {
        width: calc(100% / 3 - 2rem / 3);
        margin: 0;
    }

    #try-demo img {
        width: 50%;
    }

    /* Partners section */

    #partners .card {
        display: flex;
        flex-direction: row;
        text-align: left;
    }

    .partner-img {
        margin-right: 2rem;
        aspect-ratio: 1/1;
    }

    /* Benefits section */

    .row-benefits {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 2.5rem;
    }

    #benefits .card {
        width: calc(100% / 2 - 1rem / 2);
        margin: 0;
    }

    #benefits h2 {
        font-size: 2.5rem;
    }

    /* About us section */

    #about-us .container {
        display: flex;
        justify-content: space-between;
        align-items:flex-start;
        gap: 3rem;
    }

    .about-text {
        width:60%;
    }

    .about-img {
        width: 30%;
        justify-content: flex-end;
    }
    

    
}





/* Mediaquery for desktop */

@media screen and (min-width:992px) {

/* HEADER */

    .container {
        width: 70%;
        display: flex;
    }

    #hidden-nav-bar {
        display: block;
        width: 65%;
    }

    #nav-bar {
        width: 35%;
    }

    .menu {
        display: none;
    }

    #hidden-nav-bar ul {
        height: 70px;
        display: flex;
        justify-content: end;
        align-items: center;
        list-style-type: none;
        gap: 1rem;
    }

/* MAIN */

    /* Try demo section */

    #try-demo .card:first-child {
        display: flex;
        flex-direction: row;
    }

    #try-demo img {
        align-self: flex-end;
    }

    /* Planning section */

    #planning .container {
        display: flex;
        align-items: end;
        gap: 3rem;
        padding: 4rem;
    }

    #planning .card {
        text-align: center;
    }

    /* Partners section */

   #partners .container {
        display: flex;
        flex-direction: column;
    }

   #partners h2 {
        font-size: 2rem;
    }

    #partners .card {
        margin: 1rem;
    }

    /* Benefits section */

    #benefits .card {
        width: calc(100% / 3 - 2rem / 3);
    }

    #benefits .container {
        display: block;
    }


}