/* RESET */

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    img {
        max-width: 100%;
    }

/* ROOT */

    :root {
        --btn-color:#0084FD;
        --background-blu:#B5DDFF;
        --background-violet:#9792E4;
    }

/* COMMON */

    body {
        font-family: "PT Sans", sans-serif;
        padding-top: 70px;
    }

    .btn {
        padding:0.5rem 1rem;
        border-radius: 30px;
        display: inline-block;
    }

    .container {
        width: 90%;
        margin: 0 auto;
        max-width: 1140px;
    }

    .card {
        border-radius: 30px;
        padding: 2rem;
        margin: 2rem 0;
    }

/* HEADER */

    header {
        background-color:var(--btn-color) ;
        height: 70px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
    }

    #nav-bar {
        height: 70px;
        width: 100%;
        display: flex;
        align-items: center;
    }

    #nav-bar div {
        width: 50%;
    }

    .menu {
        display: flex;
        justify-content: end;
    }

    .menu i {
        color: white;
    }

    #hidden-nav-bar {
        display: none;
    }

    #hidden-nav-bar a {
        color: white;
        text-decoration: none;
    }

    #hidden-nav-bar .btn {
        background-color: white;
        color: black;
    }

/* MAIN */

    /* Section try demo */

    #try-demo .card:first-child {
        background-color: #B5DDFF;
        text-align: left;
        padding-bottom: 0;
        line-height: 2rem;
        font-weight: bold;
        display: block;
    }

    #try-demo h2 {
        margin-bottom: 2rem;
        color: var(--btn-color);
    }

    #try-demo img {
        display: block;
    }

    #try-demo .btn {
        background-color:var(--btn-color);
        margin: 2rem 0;
        padding: 0.5rem 20%;
    }

    #try-demo a {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-weight: bold;
    }

    #try-demo .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 2rem;
        text-align: center;
        background-color:var(--background-blu);
        font-weight: bold;
    }

    .card>i {
        color: var(--btn-color);
        font-size:6rem;
        margin-bottom: 1rem;
    }

    /* Section panning */

    #planning {
        background-color: var(--background-violet);
        padding: 3rem 0;
        color: white;
        line-height: 2rem;
        font-weight: bold;
    }

    #planning .card {
        background-color: white;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .planning-title {
        margin: 2rem 0;
    }

    #planning h2 {
        font-size: 1.5;
    }

    #planning a {
        background-color: var(--background-violet);
        border-radius: 50%;
        height: 50px;
        width: 50px;
        color: black;
        line-height: 50px;
        text-align: center;
    }

    /* Partners section */

    #partners {
        text-align: center;
        line-height: 2rem;
        font-weight: bold;
    }

    #partners .container {
        padding: 3rem 0;
    }

    #partners .card {
        background-color: var(--background-violet);
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #partners h2 {
        margin: 2rem 0;
        color: var(--background-violet);
        font-size: 1.5rem;
    }

    .partner-img {
        min-width: 200px;
        min-height: 200px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        margin-bottom: 1.5rem;
    }

    #partners h6 {
        font-size: 1.3rem;
        margin-top: 1.5rem;
    }

    #partners .card:nth-child(2) .partner-img {
        background-image: url(../img/testimonial1.jpg);
    }

    #partners .card:nth-child(3) .partner-img {
        background-image: url(../img/testimonial2.jpg);
    }

    #partners .card:nth-child(4) .partner-img {
        background-image: url(../img/testimonial3.jpg);
    }

    /* Benefits section */

    #benefits {
        background-color: var(--background-violet);
        color: white;
        text-align: center;
        padding: 3rem 0;
    }

    #benefits .card {
        color: black;
        background-color: white;
        line-height: 2rem;
        font-weight: bold;
        text-align: left;
    }

    #benefits .card span {
        color: var(--background-violet);
        font-size: 3rem;
    }

    #benefits .card h3 {
        color: var(--background-violet);
        margin: 1.5rem 0;
        font-size: 1.5rem;
    }

    #benefits .btn {
        background-color: var(--background-violet);
        text-decoration: none;
        color: white;
        padding: 0.3rem 3rem;
        margin-top: 2rem;
    }

    #benefits h2 {
        font-size: 1.5rem;
    }

    /* About us section */

    #about-us {
        line-height: 2rem;
        padding: 3rem 0;
    }

    .ceo-img {
        background-image: url(../img/about.jpg);
        height: 150px;
        width: 150px;
        border-radius: 50%;
        background-position: center;
        background-size: contain;
        position: relative;
        margin-bottom: 1rem;
    }

    #about-us .fa-quote-left {
        color: var(--background-violet);
        font-size: 3rem;
        position: absolute;
        top: -5%;
        right: -5%;
    }

    #about-us h2 {
        margin-bottom: 2rem;
        color: var(--background-violet);
        font-size: 2rem;
    }

    .about-img p {
        color: var(--background-violet);
        font-weight: bolder;
        font-size: 1.5rem;
    }

    .about-text {
        margin-bottom: 2rem;
        font-weight: bold;
    }

    .about-img a {
        color: white;
        background-color: var(--background-violet);
        padding:0 1rem;
        text-decoration: none;
        margin-top: 1.5rem;
    }

    .about-text p {
        margin-bottom: 2rem;
    }

    /* CTA Section */

    #cta {
        background-color: var(--background-violet);
        text-align: center;
        padding: 3rem 0;
        color: white;
        line-height: 1.5rem;
    }

    #cta span {
        color: lightgrey;
    }

    #cta h3 {
        color: white;
        font-size: 1.5rem;
        margin: 1.5rem 0 2.5rem;
    }

    #cta strong {
        color: #FDC15F;
        font-size: 3rem;
    }

    #cta p {
        margin: 1.5rem 0;
    }

    #cta .btn {
        background-color: white;
        color: var(--background-violet);
        text-decoration: none;
        padding: 1rem 4rem;
        font-weight: bold;
        font-size: 1.5rem;
    }

    #cta p a {
        color: white;
    }

/* FOOTER */

    footer {
        background-color: #333333;
        color: white;
        padding: 3rem 0;
    }

    footer .container {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    footer p {
        margin-bottom: 3rem;
    }

    footer a {
        color: var(--background-violet);
    }

